
build/
*.obj
*.pdb
*.ilk
*.exp
*.lib


.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/


dll-injector-ui/src-tauri/target/
dll-injector-ui/src-tauri/build/*.dll
dll-injector-ui/src-tauri/build/*.lib
dll-injector-ui/src-tauri/build/*.exp
dll-injector-ui/src-tauri/WixTools/
dll-injector-ui/src-tauri/Cargo.lock
dll-injector-ui/src-tauri/gen/


dll-injector-ui/node_modules/
dll-injector-ui/dist/
dll-injector-ui/dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json
yarn.lock

dll-injector-ui/.vite/
*.local


*.log
logs/


.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.stackdump
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

.env
.env.local
.env.*.local

build.bat
build_release.bat
